@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700);

#dropdown-menu-2btn-5 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-5 .nav .link,
#dropdown-menu-2btn-5 .dropdown-item {
  font-size: 1em;
  color: #0275d8;
  font-family: 'Merriweather', serif;
}
#dropdown-menu-2btn-5 .navbar,
#dropdown-menu-2btn-5 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-5 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-5 .dropdown-menu a:hover,
#dropdown-menu-2btn-5 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-5 .navbar-toggler {
  color: #0275d8;
}
